<%- include('partials/header') %>

    <%- include('partials/navbar') %>

        <div class="container-about">

            <div class="title">
                <div class="satu"></div>
                <div class="dua">
                    <h1>ABOUT US</h1>
                </div>
                <div class="tiga">
                    <p>About Story Our Team</p>
                </div>
                <div class="empat">
                    <p>Selamat datang di CSUC - Komunitas Keamanan Siber!

                        Sejarah terbentuknya CSUC adalah kisah keberhasilan kolaborasi dan semangat bersama dalam upaya
                        untuk melindungi dunia siber. CSUC berawal dari gagasan beberapa individu yang peduli tentang
                        keamanan siber dan ingin membuat perbedaan nyata dalam dunia maya yang terus berkembang.

                        Pendirian CSUC tidak hanya mencerminkan kebutuhan mendesak untuk meningkatkan keamanan siber di
                        era digital ini, tetapi juga merupakan tonggak bagi komunitas yang ingin berkembang bersama.
                        Dengan berbagai latar belakang, dari peneliti keamanan siber hingga mahasiswa yang ingin belajar
                        lebih banyak, kami membentuk komunitas yang inklusif yang menyambut semua orang dengan gairah
                        untuk memahami dan melindungi dunia siber.

                        Kami memahami bahwa tantangan keamanan siber semakin kompleks, dan untuk mengatasi tantangan
                        ini, kami mempercayai kolaborasi dan pembelajaran bersama. CSUC menyediakan platform bagi para
                        ahli keamanan siber untuk berbagi pengetahuan, pengalaman, dan praktik terbaik mereka, serta
                        peluang bagi pemula untuk tumbuh dan belajar dari para mentor yang berpengalaman.

                        Di CSUC, kami percaya bahwa kekuatan bersama dalam keamanan siber adalah kunci untuk mengatasi
                        ancaman yang terus berkembang. Komunitas ini bertujuan untuk memfasilitasi pertukaran ide,
                        pelatihan, dan proyek bersama yang membantu melindungi dunia siber. Kami mengundang Anda untuk
                        bergabung dengan kami dalam perjalanan ini, berkontribusi, dan merasakan dampak positif yang
                        dapat kami ciptakan bersama.

                        Terima kasih atas dukungan dan partisipasi Anda dalam CSUC. Bersama-sama, kami bertekad untuk
                        menjadikan dunia siber lebih aman, serta meningkatkan pemahaman dan kesadaran tentang keamanan
                        siber di seluruh masyarakat digital.

                        Bergabunglah dengan CSUC dan bersama-sama kita jadikan dunia siber tempat yang lebih aman untuk
                        semua!

                    </p>
                </div>
            </div>


            <div class="jumbotron-about">
                <h1>JOIN WITH US</h1>
            </div>

            <div class="quotes">
                <div class="caption">
                    <p>if you are afraid to try the system, think about who made the system, hack the maker</p>
                    <span>- 3cut</span>
                </div>
                <div class="hero">
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>