<%- include('partials/header') %>

    <%- include('partials/navbar') %>

        <div class="container-about">

            <div class="title">
                <div class="satu"></div>
                <div class="dua">
                    <h1>ABOUT US</h1>
                </div>
                <div class="tiga">
                    <p>About Story Our Team</p>
                </div>
                <div class="empat">
                    <p>Hallo kawan CSUC, kalian yang kegabung dalam CSUC panggilannya "Unram Security Guardians" yaaa.
                        Perkenalkan saya Anugrah Gilang Ramadhan mahasiswa TI Universitas Mataram angkatan 22. Kali ini
                        saya ingin menceritakan bagaimana awal mula terbentuknya CSUC. Jadi CSUC terbentuk atas dasar
                        prihatin terhadap minat cybersecurity di Universitas Mataram yang minim. Terbentuknya community
                        ini di pelopori oleh saya dan 3 teman saya, Muhammad Syafa Asgani (TI 20), Muhammad Erwin
                        Hariadinata (TI 22), Naufal (Fisika 20). Saya dan ketiga teman saya tersebut merupakan penggiat
                        cyber security khususnya di bidang Catpure The Flag. Harapannya community ini dapat
                        membangun
                        komunitas cyber unram yang lebih maju agar orang-orang menjadi lebih aware terhadap berbagai
                        ancaman siber di masa mendatang.
                        Terimakasih
                    </p>
                </div>
            </div>


            <div class="jumbotron-about">
                <h1>JOIN WITH US</h1>
            </div>

            <div class="quotes">
                <div class="caption">
                    <p>if you are afraid to try the system, think about who made the system, hack the maker</p>
                    <span>- 3cut</span>
                </div>
                <div class="hero">
                </div>
            </div>

            <div class="team">
                <h1>OUR TEAM</h1>
                <div class="card">
                    <div class="card-item">
                        <div class="card-img img-1"></div>
                        <div class="content">
                            <p>Anugrah Gilang Ramadhan</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-img img-2"></div>
                        <div class="content">
                            <p>Muhammad Erwin H.</p>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-img img-3"></div>
                        <div class="content">
                            <p>Muhammad Syafa Asgani</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <%- include('partials/footer') %>