<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

        <!-- navbar -->
        <!-- end navbar -->

        <!-- jumbotron -->
        <div class="jumbotron">
            <div class="left-content">
                <h1>Guardians Of Cyber Realm</h1>
                <p>
                    Jelajahi Pengetahuan tentang konsep keamanan cyber dari para instruktur terbaik yang memiliki
                    pengalaman
                    luas,
                    bersama-sama dalam komunitas cyber ini sampai Anda benar-benar menguasainya!
                </p>
                <a href="https://discord.gg/hAVEKR88" target="_blank">Gabung Sekarang</a>
            </div>
            <div class="right-content">
                <img src="/img/gambarHome.png" alt="" width="600" height="600">
            </div>
        </div>
        <!-- end jumbotron -->

        <%- include('partials/footer.ejs') %>