<%- include('partials/headerAdmin') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Tambah Data Postingan</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <form action="/admin/post/tambah" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" name="judul" class="form-control" id="judul" placeholder="judul">
                        <label for="judul">judul</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="isi" id="isi" name="body"
                            style="height: 300px"></textarea>
                        <label for="floatingTextarea2">Isi</label>
                    </div>
                    <div class="form-floating mb-3">
                        <button type="submit" class="btn btn-primary">Tambah Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footerAdmin') %>