<%- include('partials/headerAdmin') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1>Tambah Data User</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <form action="/admin/user/tambah" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="username" placeholder="username">
                        <label for="username">username</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="password" class="form-control" id="password" placeholder="password">
                        <label for="password">password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <button type="submit" class="btn btn-primary">Tambah Data</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footerAdmin') %>